body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    max-width: auto;
    max-height: max-content;

    
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  #imagemrcute{
max-width: 50%;
text-align: center; 
 display: flex;
  height: auto; 
  margin: auto;
  background: #f2f2f2;
  overflow: auto;
  image-rendering: auto;
  flex-basis: 40%;
  

}

.vote-count {
  width:40px;
  height:35px;
  text-align:center;
  color:red;
  font:20px/1.5 georgia;
  margin-bottom:10px;
  animation: bump .3s; 
  &.bumped {
    animation: bump2 .3s; 
  }
}

.vote-btn {
  appearance:none;
  border-radius:3px;
  border:0;
  background:#fff;
  padding:15px 12px 15px 40px;
  font:bold 9px/1.2 arial;
  text-transform:uppercase;
  letter-spacing:1px;
  color:red;
  box-shadow:0 1px 1px rgba(0,0,0,.2);
  outline:none;
  position:relative;
  transition: all .3s ease-out; 
  cursor:pointer;
  overflow:hidden;
  
  .icon {
        position:absolute;
    content: "";
    left:10px;
    top:10px;
    width:20px;
    height:20px;
    border-radius:10px;
    display:inline-block;
    background:red url(https://jamesmuspratt.com/codepen/img/checkmark.svg) no-repeat 2px 1px;
    background-size:16px auto;
  transition: all .3s ease-out; 

  }
  
}
  

.vote-btn.complete {
  padding-left:15px;
  background:#c1c0bb;
  color: #fff;
  .icon {
    opacity:0;
      transform: scale(0); 
 }
}




.con-like {
  --red: rgb(255, 50, 100);
  position: relative;
  width: 50px;
  height: 50px;
}

.con-like .like {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.con-like .checkmark {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con-like .outline,
.con-like .filled {
  fill: var(--red);
  position: absolute;
}

.con-like .filled {
  animation: kfr-filled 0.5s;
  display: none;
}

.con-like .celebrate {
  position: absolute;
  animation: kfr-celebrate 0.5s;
  animation-fill-mode: forwards;
  display: none;
}

.con-like .poly {
  stroke: var(--red);
  fill: var(--red);
}

.con-like .like:checked ~ .checkmark .filled {
  display: block
}

.con-like .like:checked ~ .checkmark .celebrate {
  display: block
}

@keyframes kfr-filled {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes kfr-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 0.8;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
    display: none;
  }
}